<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walking Dead</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/main.min.css" charset="utf-8">
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css" charset="utf-8">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js" charset="utf-8"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/locale/fr.js" charset="utf-8"></script>
    <script src="bower_components/angular-materialize/src/angular-materialize.js" charset="utf-8"></script>
    <script src="dist/js/app.min.js" charset="utf-8"></script>
  </head>
  <body ng-app="walkingApp">
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Walking Dead</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
              <a data-activates="slide-out" data-sidenav="left" data-menuwidth="400" data-closeonclick="false">Ajouter un personnage</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div ng-controller="sideNav">
      <form name="addPerso" novalidate ng-submit="ajouterPerso()">
      <ul id="slide-out" class="side-nav">

       <div class="formulaire">
         <div input-field>
            <input type="text" name="pseudo" ng-model="pseudo" required ng-minlength="2" ng-maxlength="30" length="30">
            <label>Prénom et nom</label>
            <span class="text-danger" ng-show="addPerso.pseudo.$error.required">
              Doit contenir au minimum 6 caractères
            </span>
        </div>
        <div class="switch">
          Sexe :
          <label>
            Femme
            <input type="checkbox" ng-model="sexe">
            <span class="lever"></span>
            Homme
          </label>
        </div>
        <div input-field>
           <input type="text" ng-model="activite">
           <label>Activité</label>
       </div>
       <div input-field>
          <input type="text" ng-model="photo">
          <label>Url de la photo</label>
      </div>
      <div input-field>
         <input input-date
                type="text"
                name="created"
                id="inputCreated"
                ng-model="naissance"
                container=""
                format="dd/mm/yyyy"
                months-full="{{ month }}"
                months-short="{{ monthShort }}"
                weekdays-full="{{ weekdaysFull }}"
                weekdays-short="{{ weekdaysShort }}"
                weekdays-letter="{{ weekdaysLetter }}"
                disable="disable"
                min="{{ minDate }}"
                today="today"
                first-day="1"
                clear="clear"
                close="close"
                select-years="15"/>
         <label>Date de naissance</label>
      </div>
      <div input-field>
         <input type="text" ng-model="pays">
         <label>Pays</label>
     </div>
     <div input-field class="row">
       <div class="col m6">
         <input type="text" ng-model="lat">
         <label>Latitude et Longitude</label>
       </div>
       <div class="col m6">
         <input type="text" ng-model="long">
       </div>
    </div>
    <div input-field>
        <textarea ng-model="bio" class="materialize-textarea"></textarea>
        <label>Biographie</label>
    </div>
    <div input-field>
      <div>
        Saisons
      </div>
      <div class="row">
        <input type="checkbox" ng-model="saisons.s1" id="s1"/>
        <label for="s1">1</label>
        <input type="checkbox" ng-model="saisons.s2" id="s2"/>
        <label for="s2">2</label>
        <input type="checkbox" ng-model="saisons.s3" id="s3"/>
        <label for="s3">3</label>
        <input type="checkbox" ng-model="saisons.s4" id="s4"/>
        <label for="s4">4</label>
        <input type="checkbox" ng-model="saisons.s5" id="s5"/>
        <label for="s5">5</label>
        <input type="checkbox" ng-model="saisons.s6" id="s6"/>
        <label for="s6">6</label>
        <input type="checkbox" ng-model="saisons.s7" id="s7"/>
        <label for="s7">7</label>
      </div>
    </div>
       </div>
       <div>
         <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
       </div>
     </ul>
   </form>
   </div>
    <div class="container">
        <div ng-view></div>
    </div>
  </body>
</html>
